<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.official.sevasatva">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/xtra_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Official.SevaSatva">
        <activity
            android:name=".mentorTestsDetails"
            android:exported="false" />
        <activity
            android:name=".studentTestsDetails"
            android:exported="false" />
        <activity
            android:name=".profileFeedback"
            android:exported="false" />
        <activity
            android:name=".studentNewsDetails"
            android:exported="false" />
        <activity
            android:name=".mentorAllocator"
            android:exported="false" />
        <activity
            android:name=".mentorAllocation"
            android:exported="false" />
        <activity
            android:name=".adminScreen"
            android:exported="false" />
        <activity
            android:name=".mentorHomeAns"
            android:exported="false" />
        <activity
            android:name=".mentorScreen"
            android:exported="false" />
        <activity
            android:name=".chatScreen"
            android:exported="false" />
        <activity
            android:name=".studentHomeAns"
            android:exported="false" />
        <activity
            android:name=".studentScreen"
            android:exported="false" />
        <activity
            android:name=".studentLogin"
            android:exported="false" />
        <activity
            android:name=".studentDetails"
            android:exported="false" />
        <activity
            android:name=".mentorLogin"
            android:exported="false" />
        <activity
            android:name=".appIntro"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name = ".ansNotificationService"/>
        <service android:name = ".chatNotificationService"/>
        <receiver android:name=".alarmReceiver" android:process=":remote"/>

    </application>

</manifest>